.top-wrapper {
 padding:2px; 
 background-color: rgb(219, 166, 177);
}

h2 {
  color:rgb(129, 2, 27);
  border: 2px solid ;
}

table,th,td {
  border: 1px solid black; 
}

table {
  border-collapse: collapse;
}


.container {
    display: flex;           /* これだけで横並びになります！ */
    justify-content: center; /* 中央に寄せる（左寄せなら flex-start） */
    gap: 100px;               /* 写真と写真の間のすき間を指定 */
}

.image-container img {
    width: 30%;              /* 3枚なので、だいたい30%ずつにすると収まりが良い */
    height: auto;            /* 縦横比を崩さない */
    object-fit: cover;       /* 写真のサイズがバラバラでも綺麗に切り抜いて揃える */
}